//Reset.css
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar{display: none;}
::-moz-scrollbar{display: none;}
::-o-scrollbar{display: none;}


//Layouts

body{
	background:#f0f0f0;
	color:#2f2f2f;
	font:14px Arial;
	padding: 15px;
}

main{
	white-space: nowrap;
	overflow-x: auto;
	
}

//card
.card{
	background:#fff;
	border: 1px solid #ccc;
	border-radius:4px;	
	padding:10px;
	margin-bottom: 10px;
	cursor:pointer;
	cursor:-webkit-grab;
	min-height: 16px;
	position: relative;
	&:active{background: rgba(0,0,0,0.8);color:#fff;}
	
	#{&}Wrapper{
		background: #E2E4E6;
		margin:20px;
		box-shadow: 0px 2px 7px 0px #888;
		padding:10px;
		white-space: normal;
		border-radius: 4px;
		&:hover{background: #e6bcbc;}
		h3{margin-bottom:10px;font-weight: 700;font-size: 18px}
		
	}
	&.tilt-right{
		transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-webkit-transform: rotate(3deg);
	}
	&.tilt-left{
		transform: rotate(-3deg);
  		-moz-transform: rotate(-3deg);
  		-webkit-transform: rotate(-3deg);
	}
	
	&__closeIcon{
		    cursor: pointer;
			top: 2px;
			right: -5px;
			position: absolute;
			display: inline-block;
			z-index: 222;
			//border: 1px solid;
			height: 10px;
			width: 10px;
			padding: 10px;
		&:after,&:before{
			content: '';
			height: 10px;
			width: 1px;
			background: #888;
			display: inline-block;
			z-index: 1;
			transform: rotate(45deg);
		}
		&:after{
			transform: rotate(-45deg);
		}
	}
	
	&Container{background: rgba(0,0,0,0.6); }
}

//Column
.column{
	height:98%;
	width:250px;
	margin-right: 15px;
	display: inline-block;
	border:4px dotted #ddd;
	border-radius: 7px;
	overflow: hidden;
	overflow-y: auto;
	background: #fff;
	cursor: pointer;
	h2{margin-bottom:10px;font-weight: 700;font-size: 18px;color:darkslategrey;}
	&:hover{border:4px dotted #000;background: #866868;}
	
}

.addClmInput, .cardInput{
	background: rgba(0,0,0,0.3);
	border: none;
	border-radius: 4px;
	padding: 10px;
	color:#fff;
	&::placeholder{color:#fff;}
	display: inline-block;
	width:225px;
	position: absolute;top:20px;
	vertical-align: top;
	&:hover{ background: rgba(0,0,0,0.4); }
	
}

.cardInput{position:relative;width:auto;top:auto;cursor:pointer;width:100%;}

/** Drop Target **/
.droptarget {
	float: left; 
	width: 100px; 
	height: 35px;
	margin: 15px;
	padding: 10px;
	border: 1px solid #aaaaaa;
}

[draggable=true] {
  -khtml-user-drag: element;
	
}